:root {
    --black: #000;
    --dark-grey: #252525;
    --primary: #E5C05F;
    --secondary: #B65B5D;
    --dark: #332723;
    --dark-two: #141414;
    --neutral: #E8E9F3;
    --font-h: 'montserrat', serif;
    --font-p: 'open sans', serif;
}

* {
    font-family: var(--font-p);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--dark-two);
    color: var(--neutral);
}

h1, h2, h3{
    font-family: var(--font-h);
    background-image: linear-gradient(to top, var(--primary) 0%, var(--secondary) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

p {
    color: var(--neutral);
    font-family: var(--font-p);
    text-align: justify;
}

a {
    text-decoration: none;
}

hr {
    color: var(--neutral);
    margin-block: 1rem;
}
/* Navigation CSS */

header {
    background: var(--dark);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
}

.navbar-logo {
    font-family: var(--font-h);
    font-weight: 600;
    background-image: linear-gradient(to top, var(--secondary) 0%, var(--primary) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

nav {
    position: absolute;
    text-align: right;
    top: 100%;
    left: 0;
    background: var(--dark-grey);
    width: 100%;
    transform: scale(1, 0);
    transition: transform 400ms ease-in-out;
    transform-origin: top;
}

nav ul {
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-right: 1em;
}

nav a {
    color: var(--neutral);
    text-decoration: none;
    font-family: 'open sans';
    font-size: 1.5rem;
    text-transform: uppercase;    
    transition: all 0.5s ease;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: var(--primary);
}

.nav-toggle {
    display: none;
}

.nav-toggle:checked ~ nav {
    background-color: var(--dark-grey);
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle:checked ~ nav a:hover {
    transform-origin: center;
    transition: 250ms ease-in-out;
}

.nav-toggle-label {
    justify-self: flex-start;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}



.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--primary);
    height: 2px;
    width: 2em;
    border-radius: 2px;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 50px;
}

.nav-toggle-label span::after {
    top: 50px;
}



/* Responsiveness for Navigation */

@media screen and (min-width: 910px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        justify-content: space-between;
        flex-direction: row;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
        font-size: .94rem;
    }

    nav a:hover {
        color: var(--primary);
        transform-origin: center;
        transition: 250ms ease-in-out;
    }

    nav a::before {
        content: '';
        display: block;
        height: 3px;
        background-color: var(--secondary);
        position: absolute;
        top: -.5em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
} 

/* Footer CSS */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

#footer-logo {
    color: var(--primary);
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer-links {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    grid-template-rows: 1fr 1fr;
    gap: .5rem;
    justify-items: center;
}

.footer-links-items {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footer-links-items:first-child {
    grid-row: 1 / 3;
    padding-left: 2rem;
}

#contact-footer {
    margin-right: 0;
}

.footer-links-items h2 {
    margin-bottom: .5rem;
}

.footer-links-items a {
    color: var(--neutral);
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-links-items a:hover {
    color: var(--secondary);
    transition: 0.5s ease-out;
}

/* Social Icons */

.social-icon-link {
    font-size: 2rem;
    color: var(--primary);
    transition: 0.5s ease-in;
    padding: 1.5rem;
}

.social-icons {
    padding-block: 1rem;
}

.social-icon-link:hover {
    color: var(--secondary);
    transition: 0.5s ease-in;
}

#footer-logo {
    color: var(--primary);
    font-family: var(--font-h);
    font-size: 2rem;
    transition: 0.5s ease-in;
}

#footer-logo i {
    padding: 1rem;
}

#footer-logo:hover {
    color: var(--secondary);
    transition: 0.5s ease-in;
}

/**------------------------------*/
/**            Main              */
/**------------------------------*/

.landing-page-body {
    background-color: var(--black);
}

.main {
    background-color: var(--dark-two);
    align-items: center;
    padding: 6rem 2rem 3rem;
}

.landing-main {
    display: grid;
    grid-template-areas: 
        "text"
        "img";
    gap: 1rem;
}

.main > * {
    flex: 1 1 50%;
}

.main-content {
    grid-area: text;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.main-content h1 {
    font-size: 3.25rem;
    font-weight: 500;
    text-transform: uppercase;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main p {
    color: var(--neutral);
    font-family: 'open sans';
    font-size: 1.25rem;
    font-weight: 100;
}

.main-btn {
    background-image: linear-gradient(to top, var(--secondary) 0%, var(--primary) 100%);
    padding: 1.25rem 2.5rem;
    border: none;
    border-radius: 100rem;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: 0.5s ease-in-out;
}

.main-btn a {
    background: transparent;
    position: relative;
    z-index: 2;
    font-size: 1rem;
    color: var(--dark-two);
    text-decoration: none;
}

.main-btn:hover {
    box-shadow: 0 0 5px 1px var(--primary);
    transition: 0.5s ease-in;
}

.main-img-container {
    grid-area: img;
    text-align: center;
    min-width: 18rem;
    margin-left: -1rem;
}

.main-img-container img {
    height: 100%;
    width: 100%;
}

#main-img {
    width: 100%;
    box-shadow: 1rem 1rem var(--primary);
    margin-left: -.75rem;
}

@media screen and (min-width: 40rem) {
        .landing-main {
            grid-template-areas: 
                "text img";
        }
    }

/* Breeders Section */

.breeders {
    background-color: var(--black);
    display: grid;
    grid-template-areas:
        "text"
        "img";
}

.breeders > * {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.breeders-img {
    width: 100%;
    max-width: 50rem;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    grid-area: img;
}

.breeders-img img {
    width: 90%;
    max-width: 30rem;
    box-shadow: -1rem 1rem var(--primary);
    margin-left: .5rem;
}

.breeders-text {
    padding: 0 4rem 2rem;
    line-height: 1.5rem;
    grid-area: text;
}

.breeders-text h2 {
    padding-block: 1rem;
    font-weight: 600;
}

.main-divider {
    margin: 3rem 4rem 2rem;
}

@media screen and (min-width: 48rem) {
    .breeders {
        grid-template-areas: 
        "img text";
        gap: 2rem;
    }

    .breeders-img {
        margin-left: 2rem;
    }
    .breeders-text {
        padding: 0 2rem 2rem;
    }
}


/* Intro Section CSS */

.intro {
    background-color: var(--black);
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}

.intro > * {
    flex: 1 1 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.intro-img {
    width: 100%;
    min-width: 20rem;
    max-width: 50rem;
    padding-top: 1rem;
    display: flex;
    align-items: center;
}

.intro-img img {
    width: 100%;
    max-width: 40rem;
}

.intro-text {
    line-height: 1.5rem;
    padding-inline: 3rem;
}

.intro-text h2 {
    padding-block: 1rem;
    font-weight: 600;
}

/* Intro Section Responsiveness */

@media screen and (min-width: 40rem) {
    .intro-img {
        min-width: 25rem;
    }
}

/* Media Scroller CSS */

.media-scroller {
    background: var(--dark-grey);
    --_spacer: 1rem;
    display: grid;
    grid-auto-flow: column;
    gap: var(--_spacer);
    padding-block: 3rem;
    
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.media-item {
    display: grid;
    gap: var(--_spacer);
    padding: var(--_spacer);
    background: var(--dark-two);
    border-radius: .25rem;
    box-shadow: .25rem .25rem .5rem .25rem var(--black);
    transition: 0.5s ease-in-out;
    /* filter: grayscale(); */
}

.media-item img {
    border-radius: .25rem;
    height: 20rem;
}

.media-item:hover {
    box-shadow: .25rem .25rem 1.75rem .25rem var(--black);
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    /* filter: none; */
}

/* Why Us Section CSS */

.why-us-text {
    background-color: var(--black);
    padding: 2rem;
    font-size: 1.5rem;
}
.why-us-text h2 {
    background-image: linear-gradient(to top, var(--secondary) 0%, var(--primary) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 2.5rem;
    font-weight: 400;
}

.why-us-text p {
    font-weight: 300;
    padding-top: 1rem;
}

.why-us-text ul {
  list-style: none; 
  padding: .5rem; 
}

.why-us-text ul li {
    font-weight: 500;
}

.why-us-text ul li::before {
    content: '✓ ';
    color: var(--primary);
}

@media screen and (max-width: 30rem) {
    
    .breeders-text, .intro-text, .why-us-text {
        padding-inline: 2rem;
    }

    .intro-img {
        min-width: 14rem;
    }

}

/*-- -------------------------- -->
<---           Reviews          -->
<--- -------------------------- -*/

.reviews-title {
    background-color: var(--black);
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
}

.reviews-title h1 {
    font-weight: 400;
    font-size: 3rem;
}

.review-scroller {
    align-items: center;
    padding-block: 2rem;
    padding-left: .5rem;
}

.review-card {
    display: grid;
    grid-template-areas: 
    'img img'
    'name name'
    'star star'
    'text text'
    'date age';
    gap: var(--_spacer);
    padding: var(--_spacer);
    background: var(--dark-two);
    border-radius: .25rem;
    box-shadow: .25rem .25rem .5rem .25rem var(--black);
    transition: 0.5s ease-in-out;
    height: 100%;
}

.review-card img {
    border-radius: .25rem;
}

.review-card:hover {
    box-shadow: .25rem .25rem 1.75rem .25rem var(--black);
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    /* filter: none; */
}

.review-img {
    max-height: 20rem;
    grid-area: img;
    align-self: center;
    justify-self: center;
}

.review-title {
    grid-area: name;
}

.star-rating {
    grid-area: star;
    color: var(--primary);
}

.review-text {
    grid-area: text;
    line-height: 1.5rem;
}

blockquote:before {
    content: "\201C";
    color: var(--primary);
}
blockquote:after {
    content: "\201D";
    color: var(--primary);
}

.review-block-1 {
    grid-area: date;
    align-self: self-end;
}

.review-block-2 {
    grid-area: age;
    align-self: self-end;
}

.rb-small {
    font-size: .75rem;
}

@media screen and (min-width: 50rem) {
    .review-card {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            'img name name'
            'img star star'
            'img text text'
            'img date age';
        width: 75vw;
    }

    .review-img {
        max-height: 30rem;
    }
    
}

@media screen and (min-width: 65rem) {
    .review-card {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            'img name star'
            'img text text'
            'img date age';
    }

    .review-img {
        max-height: 30rem;
        align-self: center;
    }
    
}


/**------------------------------*/
/**             FAQ              */
/**------------------------------*/

/* Mobile - 320px */

    #faq-1741 {
      padding: 1rem;
      font-family: var(--font-p);
    }
    #faq-1741 .cs-container {
      
      /* changes to 1280px at desktop */
      
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #faq-1741 .cs-content {
      text-align: center;
    }

    .cs-title {
        font-family: var(--font-h);
    }
   
    #faq-1741 .cs-faq-group {
      display: flex;
      flex-direction: column;      
      gap: 0.5rem;
    }
    #faq-1741 .cs-faq-item {
      list-style: none;
    }

    #faq-1741 .cs-faq-item.active .cs-button {
      background-color: var(--primary);
      color: var(--dark);
    }
    #faq-1741 .cs-faq-item.active .cs-button:before {
      background-color: var(--dark);
      transform: rotate(315deg);
    }
    #faq-1741 .cs-faq-item.active .cs-button:after {
      background-color: var(--dark);
      transform: rotate(-315deg);
    }
    #faq-1741 .cs-faq-item.active .cs-item-text {
      height: auto;
      /* 16px - 24px */
      padding: 1rem clamp(1rem, 2vw, 1.5rem);
      opacity: 1;
      border: 1px solid var(--primary);
    }
    #faq-1741 .cs-button {
      /* 16px - 20px */
      font-size: clamp(1rem, 2.5vw, 1.25rem);
      font-weight: bold;
      line-height: 1.2em;
      text-align: left;
      width: 100%;
      padding: 1rem;
      padding-left: 3.25rem;
      background-color: transparent;
      color: var(--neutral);
      border: 1px solid var(--primary);
      display: block;
      position: relative;
      transition: background-color 0.5s, color 0.5s;
      cursor: pointer;
    }
    #faq-1741 .cs-button:hover {
      cursor: pointer;
    }
    #faq-1741 .cs-button:before {
      /* left line */
      content: "";
      width: 0.5rem;
      height: 0.125rem;
      background-color: var(--neutral);
      opacity: 1;
      display: block;
      position: absolute;
      top: 45%;
      left: 1.125rem;
      transform: rotate(45deg);
      transition: transform 0.5s;
      /* animate the transform from the left side of the x axis, and the center of the y */
      transform-origin: left center;
    }
    #faq-1741 .cs-button:after {
      /* right line */
      content: "";
      width: 0.5rem;
      height: 0.125rem;
      background-color: var(--neutral);
      opacity: 1;
      display: block;
      position: absolute;
      top: 45%;
      left: 1.3125rem;
      transform: rotate(-45deg);
      transition: transform 0.5s;
      /* animate the transform from the right side of the x axis, and the center of the y */
      transform-origin: right center;
    }
    #faq-1741 .cs-item-text {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      height: 0;
      margin: 0;
      /* clips the text so it doesn't show up */
      overflow: hidden;
      color: var(--neutral);
      opacity: 0;
      transition: opacity 0.5s, padding-bottom 0.5s;
    }

    .faq-btn {
        margin-top: 0;
    }
 
  @media only screen and (min-width: 48rem) {
    #faq-1741 .cs-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 
        "text faqs"
        "button faqs";
      align-items: start;
    }

    #faq-1741 .cs-content {
      text-align: left;
      grid-area: text;  
      align-self: end; 
      padding-left: 4rem;  
    }

    .faq-btn {
        grid-area: button;
        justify-self: center;
    }

    .cs-flex-group {
        grid-area: faqs;
    }

  }

/**------------------------------*/
/**       Services Section       */
/**------------------------------*/

    .services {
        color: #E8E9F3;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services-title {
        background-color: var(--black);
        width: 100%;
        text-align: center;
        padding-bottom: 2rem;
    }

    .services-title h1 {
        font-weight: 400;
    }

    .services-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .services-card {
        margin: 3rem;
        height: 24rem;
        width: 15rem;
        background-image: linear-gradient(
            to bottom, rgba(0,0,0,0) 0%, 
            rgb(0, 0, 0, .9) 100%), 
            url('./images/dogs/Cribz-awards.jpg');
        @supports (background-image: url('./images/dogs/Cribz-awards.webp')) {
            background-image: url('./images/dogs/Cribz-awards.webp');
            }
        background-size: cover;
        position: relative;
        color: var(--neutral);
        transition: 0.5s ease-in;
        box-shadow: .25rem .25rem 1.25rem #bfbfbf;
    }

    .services-card::after {
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        box-shadow: .25rem .25rem .75rem .5rem #000;
        z-index: 1;
    }


    .services-card:nth-child(2) {
        background-image: linear-gradient(
            to bottom, rgba(0,0,0,0) 0%, 
            rgba(0, 0, 0, 0.5) 100%), 
            url('./images/puppies/Cribz-puppy.jpg');
        @supports (background-image: url('./images/puppies/Cribz-puppy.webp')) {
            background-image: url('./images/puppies/Cribz-puppy.webp');
            }
    }

    .card-text {
    position: absolute;
    bottom: 5em;
    left: 1em;
    }

    .services-card a {
        color: var(--dark);
        padding: .5rem 1rem;
        border: none;
        outline: none;
        border-radius: .25rem;
        background: var(--primary);
        position: absolute;
        bottom: 2em;
        left: 1em;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.5s;
        z-index: 99;
    }

    .services-card a:hover {
        background: transparent;
        border: 1px solid var(--primary);
        color: var(--primary);
        transition: all 0.5s;
    }

    .services-card:hover {
        transform: scale(1.05);
        transition: 0.5s ease-in;
    }

    @media screen and (min-width: 768px) {
        .services-card {
            width: 22rem;
            height: 35rem;
        }
    }

/**------------------------------*/
/**           Puppies            */
/**------------------------------*/

    .puppies-body {
        background-color: var(--black);
    }

    .puppies {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        background-color: var(--black);
    }

    .page-title {
        text-align: center;
        font-size: 2.75rem;
        font-weight: 300;
    }

    .puppies-img-container {
        justify-self: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 1rem;
    }


    .puppies-divider {
        margin: 0 3rem 1rem;
    }

    .upcoming-litters {
        padding-inline: 2rem;
    }

    .upcoming-text, .past-text {
        padding: 0 2rem 2rem;
    }

    .subscribe {
        padding: 3rem;
        max-width: 48rem;
        justify-self: center;
    }

    .subscribe-text {
        padding-block: 1rem;
    }

    .subscribe-form {
        justify-self: center;
    }

    @media only screen and (min-width: 48rem) {
        .puppies {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
                "p-title p-title"
                "img title"
                "img text";
        }

        .puppies-img-container {
            grid-area: img;
        }

        .puppies-title {
            grid-area: title;
            align-self: self-end;
        }

        .puppies-text {
            grid-area: text;
            align-self: self-start;
        }

        .page-title {
            grid-area: p-title;
        }
    }

/**------------------------------*/
/**           Dogs               */
/**------------------------------*/

    .dogs-main {
        background-color: var(--black);
        padding: 6rem 2rem 2rem;
        display: grid;
        grid-template-areas: 
            "text text"
            "img img";
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .dogs-main > * {
        flex: 1 1 50%;
    }

    .dog-section {
        background-color: var(--black);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }
    
    .dogs-img {
        grid-area: img;
        margin-left: -2rem;
        width: 100%;
        max-width: 30rem;
        box-shadow: 1rem 1rem var(--primary);
    
    }

    .dogs-main-title {
        padding: 0 2rem 2rem;
        grid-area: text;
    }

    .dogs-main h1 {
        font-size: 3rem;
        font-weight: 400;
        text-transform: uppercase;
        background-image: linear-gradient(to top, var(--secondary) 0%, var(--primary) 100%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }

    .dogs-main h2 {
        font-size: 3rem;
        text-transform: uppercase;
        background-image: linear-gradient(to top, var(--primary) 0%, var(--secondary) 100%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }

    .dogs-main p {
        color: #E8E9F3;
        font-size: 1.25rem;
        line-height: 2rem;
        font-weight: 300;
    }

    .dogs-main a {
        color: var(--primary);
        text-decoration: underline;
        transition: 0.5s ease-in;
        font-weight: 400;
    }

    .dogs-main a:hover {
        color: var(--secondary);
        transition: 0.5s ease-in;
    }

    .stud-divider {
        margin-bottom: 2rem;
    }

    .studs-text, .females-text {
        padding: 0 1rem 2rem;
    }
    /* Dog Card CSS */

        .dog-card {
            margin: 1rem;
            padding: 1rem;
            background-color: var(--dark-two);
            border-radius: .5rem;
            width: 100%;
        }
        .dog-card .dc-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: 34.375rem;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }
        .dog-card .dc-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .dog-card .dc-text {
            margin-bottom: 1rem;
        }
        .dog-card .dc-text:last-of-type {
            margin-bottom: 2rem;
        }
        .dog-card .dc-ul {
            width: 100%;
            margin: 0 0 2rem 0;
            padding-left: 1.25rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;
        }
        .dog-card .dc-li {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            list-style: none;
            text-align: left;
            width: 100%;
            max-width: 28.125rem;
            margin: 0;
            color: var(--bodyTextColor);
            position: relative;
        }
        .dog-card .dc-li:before {
            /* bullet */
            content: "";
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: var(--primary);
            opacity: 1;
            position: absolute;
            display: block;
            top: 0.625rem;
            left: -0.9375rem;
        }
        .dog-card .dc-button-solid {
            font-size: 1rem;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            text-align: center;
            margin: 0;
            color: var(--dark-two);
            min-width: 9.375rem;
            padding: 0 1.5rem;
            background-image: linear-gradient(to top, var(--secondary) 0%, var(--primary) 100%);
            border-radius: 100rem;
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition: 0.5s ease-in-out;
        }

        .dc-button-solid:hover {
            box-shadow: 0 0 5px 1px var(--primary);
            transition: 0.5s ease-in-out;
        }
    
        .dog-card .dc-image-group {
            /* scaling entire section down. font-size starts at a min in vw, and stops when that value reaches 1em (16px). Since we want the picture elements to base their font size on the parent and not the root, we use ems for this entire section  */
            font-size: min(1.978vw, 0.791em);
            width: 46.0625em;
            height: 45.9375em;
            position: relative;
        }
        .dog-card .dc-picture {
            border-radius: 1em;
            /* clips the img tag corners */
            overflow: hidden;
            position: absolute;
            display: block;
        }
        .dog-card .dc-picture img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .dog-card .dc-picture1 {
            width: 24.875em;
            height: 24.5625em;
            top: 0;
            left: 0;
        }
        .dog-card .dc-picture2 {
            width: 20em;
            height: 19.875em;
            top: 4.6875em;
            right: 0;
        }
        .dog-card .dc-picture3 {
            width: 20.3125em;
            height: 20.125em;
            bottom: 0;
            left: 4.4375em;
        }
        .dog-card .dc-picture4 {
            width: 16.5em;
            height: 16.375em;
            bottom: 3.75em;
            right: 3.5625em;
        }

    @media only screen and (min-width: 48rem) {
        .dogs-main {
            grid-template-areas: 
                "text img";
        }
    }

    @media only screen and (min-width: 64rem) {
        .dog-card .dc-container {
            max-width: 80rem;
            flex-direction: row;
            align-items: center;
        }
        
        .dog-card .dc-image-group {
            /* reset the scale */
            font-size: min(1.1vw, 1em);
            /* prevent flexbox from squishing it */
            flex: none;
        }
        
        .mom-card .dc-container {
            flex-direction: row-reverse;
        }
    
    }

/**------------------------------*/
/**           Bullies            */
/**------------------------------*/

    .bullies {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .wide-img {
        max-width: 40rem;
        justify-self: center;
    }

    .bully-divider {
        display: none;
    }
    .tall-img {
        justify-self: center;
    }

    .left-shadow {
        box-shadow: -1rem 1rem var(--primary);
        margin-left: 1rem;
    }


    @media only screen and (min-width: 48rem) {
        .bullies {
            display: grid;
            grid-template-columns: auto;
            grid-template-areas: 
                "p-title p-title"
                "wide-img wide-img"
                "wide-text wide-text"
                "divider divider"
                "tall-img tall-text";
            gap: 3rem;
        }

        .wide-img {
            grid-area: wide-img;
        }

        .bullies-text {
            grid-area: wide-text;
        }

        .bully-divider {
            display: block;
            grid-area: divider;
        }

        .tall-img {
            grid-area: tall-img;
        }

        .xl-bullies-text {
            grid-area: tall-text;
        }
    }

    @media only screen and (min-width: 64rem) {
        .bullies {
            grid-template-areas: 
                "p-title p-title"
                "wide-text wide-img"
                "divider divider"
                "tall-img tall-text";
            padding: 6rem 5rem;
        }
    }

/**------------------------------*/
/**           About Us           */
/**------------------------------*/

    .about-main {
        padding: 6rem 5rem 2rem;
        display: grid;
        grid-template-areas:
            "title title"
            "divider divider"
            "process about"
            "l-divider l-divider";
        gap: 3rem;
    }

    .about-title {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        grid-area: title;
    }

    .about-divider {
        grid-area: divider;
    }

    .about-us {
        display: flex;
        flex-direction: column;
        grid-area: about;
        gap: 2rem;
    }

    .about-us img {
        margin-right: 1rem;
        align-self: center;
        max-width: 100%;
    }

    .our-process {
        display: flex;
        flex-direction: column;
        grid-area: process;
        gap: 2rem;
    }

    .our-process img {
        margin-left: 1rem;
        align-self: center;
    }

    .about-main h2 { 
        font-size: 3rem;
        font-weight: 400;
        background-image: linear-gradient(to bottom, var(--primary) 0%, var(--secondary) 100%);
    }

    .about-us-img {
        max-width: 30rem;
        box-shadow: 1rem 1rem var(--primary);
    }

    .lower-divider {
        grid-area: l-divider;
    }

    @media only screen and (max-width: 48rem) {
        .about-main {
            grid-template-areas: 
            "title"
            "divider"
            "about"
            "process"
            "l-divider";
            padding-inline: 3rem;
        }

        .about-main img {
            width: 80%;
            margin: 0;
        }

        .our-process {
            flex-direction: column-reverse;
        }
    }

    @media only screen and (max-width: 36rem) {
        .about-main img {
            width: 100%;
        }
    }
/**------------------------------*/
/**          Contact Us          */
/**------------------------------*/

    .contact-section {
        background-color: var(--dark-two);
        color: var(--primary);
        width: 100%;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        padding: 6rem 3rem;
    }

    .contact-section h2 {
        font-size: 3rem;
        font-weight: 300;
        background-image: linear-gradient(to top, var(--primary) 0%, var(--secondary) 100%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        padding-block: 1rem;
    }
    
    .contact-title {
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 700;
    }
    
    .contact-description {
        color: var(--neutral);
    }
    
    .form-group-container {
        display: grid;
        gap: 1rem;
        margin-top: 1rem;
    }
    
    .form-group {
        display: flex;
        flex-direction: column;
    }
    
    .form-label {
        margin-bottom: 0.5rem;
        color: var(--primary);
    }
    
    .form-input,
    .form-textarea {
        padding: 0.5rem;
        border: 1px solid var(--neutral);
        display: flex;
        height: 2.5rem;
        width: 100%;
        border-radius: 0.5rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
    
    .form-input::placeholder,
    .form-textarea:focus-visible {
        color: gray;
    }
    
    .form-input:focus-visible,
    .form-textarea:focus-visible {
        outline: 2px solid var(--accent-one);
        outline-offset: 2px;
    }
    
    .form-textarea {
        min-height: 120px;
    }
    
    .form-submit {
        border: none;
        width: 100%;
        margin-top: 1.2rem;
        background-image: linear-gradient(to top, var(--secondary) 0%, var(--primary) 100%);
        color: var(--dark-two);
        font-size: 1rem;
        font-weight: 500;
        padding: 13px 5px;
        border-radius: 3rem;
    }

/**------------------------------*/
/**           Gallery            */
/**------------------------------*/

    .gallery-title h1{
        font-size: 3rem;
        font-weight: 3;
    }

    .gallery-title p {
        font-size: 1rem;
        padding-left: .25rem;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding-inline: 2rem;
    }

    .mobile-gallery {
        display: none;
    }

    .column {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .column-img-wrapper img {
        width: 100%;
        height: auto;
        border-radius: .5rem;
    }

    @supports (animation-timeline: scroll()) {
        .column-reverse {
            transform: translateY(calc(-100% + 100vh));
            flex-direction: column-reverse;
        }
        
        .gallery {
            overflow-y: clip;
        }
    }

    @keyframes reverse-scroll {
        from {
            transform: translateY(calc(-100% + 100vh));
        }
        to {
            transform: translateY(calc(100% - 100vh));
        }
    }

    .column-reverse {
        animation: reverse-scroll linear forwards;
        animation-timeline: scroll(root block);
    }

    @media only screen and (max-width: 48rem) {
        .full-gallery {
            display: none;
        }

        .mobile-gallery {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }


/**------------------------------*/
/**       Scroll Animation test      */
/**------------------------------*/

    /** Reveal **/
    @keyframes reveal {
        from {
            opacity: 0;
            clip-path: inset(45% 55% 45% 55%);
        }
        30% {
            opacity: 1;
            clip-path: inset(0% 0% 0% 0%);
        }
        70% {
            opacity: 1;
            clip-path: inset(0% 0% 0% 0%);
        }
        to {
            opacity: 0;
            clip-path: inset(45% 55% 45% 55%);
        }
    }
    @keyframes reveal-txt {
        from {
            opacity: 0;
        }
        40% {
            opacity: 1;
        }
        60% {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }

    .revealing-img {
        box-shadow: none;

        animation: reveal linear both;
        animation-timeline: view();
    }

    .revealing-txt {
        animation: reveal-txt linear both;
        animation-timeline: view();
    }

    /** Turn Image **/ 

    @keyframes rotate-cover {
        0% {
            transform: translateX(-100%) rotateY(-45deg);
        }
        35% {
            transform: translateX(0) rotateY(-45deg);
        }
        50% {
            transform: rotateY(-45deg) translateZ(1em) scale(1.5);
        }
        65% {
            transform: translateX(0) rotateY(45deg);
        }
        100% {
            transform: translateX(100%) rotateY(45deg);
        }
    }

    @keyframes adjust-z-index {
        0% {
            z-index: 1;
        }
        50% {
            z-index: 3;
        }
        100% {
            z-index: 1;
        }
    }

    .media-item {
        animation: rotate-cover linear both;
        animation-timeline: view(inline);
        animation: adjust-z-index linear both;
        animation-timeline: view(inline);
    }